.section-about {
  background-color: $color-grey-light-1;
  padding: calc(250rem / 16) 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: calc(200rem / 16) 0;
  }
}

.section-features {
  padding: calc(200rem / 16) 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url('../img/nat-4.jpg');
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: calc(-100rem / 16);

  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: calc(150rem / 16) 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: calc(250rem / 16) 0 calc(150rem / 16) 0;
  margin-top: calc(-100rem / 16);

  @include respond(tab-port) {
    padding: calc(200rem / 16) 0 calc(100rem / 16) 0;
  }
}

.section-stories {
  position: relative;
  padding: calc(150rem / 16) 0;

  @include respond(tab-port) {
    padding: calc(100rem / 16) 0;
  }
}

.section-booking {
  padding: calc(150rem / 16) 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: calc(150rem / 16) 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 49.9%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 calc(15rem / 16) calc(40rem / 16) rgba($color-black, 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: calc(60rem / 16);

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
